.btn__popUp {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.wrapper__popUp {
  padding: 100px;
  background-image: url('../../images/fon2.jpg');
  .subtitle {
    text-align: center;
    color: black;
    font-size: 40px;
    position: relative;
    top: -70px;
  }
}
.Register {
  width: max-content;
  display: flex;
  margin: 0 auto;
  align-items: end;
  height: max-content;
  padding: 20px;
  input {
    padding: 10px 20px;
  }
  button {
    padding: 10px 20px;
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .wrapper__popUp {
    .subtitle {
      top: 0;
      font-size: 30px;
    }
    padding: 20px;
  }
}

@media (max-width: 438px) {
  .Register {
    width: 100%;
    display: block;
    div {
      display: block;
    }
    input,
    button {
      width: 100%;
      margin: 0;
    }

    div:first-child {
      input {
        padding-top: 30px;
      }
      margin-bottom: 20px;
    }
  }
  .btn__popUp {
    padding-top: 20px;
  }
}
